* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: rgb(123, 48, 48);
}

h1 {
    color: rgb(123, 48, 48);
}

input {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(123, 48, 48);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: rgb(123, 48, 48);
}

p {
    margin: 10px;
    color: rgb(123, 48, 48);
}

div{
    background-color: #dba937;
    padding: 50px;
    border-radius: 5%;
    box-shadow: 0 0 5px  #ffd269;
    width: 300px;
    height: 350px;
}

.fa-gas-pump{
color: rgb(123, 48, 48) ;
font-size: 2rem;
}